<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners> <!-- this is how you are taking failure tests screenshots -->
		<listener class-name="Academy.listeners" />
		<listener class-name="resources.ExtentReporterNG" />

	</listeners>

	<test name="Validating navigation bar">
		<classes>
			<class name="Academy.validateNavigationBar" />
		</classes>
	</test>
	<test name="Validatin User login">
		<classes>
			<class name="Academy.HomePage" />
		</classes>
	</test>
	<test name="Validating title in the Page">
		<classes>
			<class name="Academy.validateTitle" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
